﻿@model Seccion.Web.Models.ViewModels.RequestViewModel

@{
	ViewBag.Title = "DetailsRequest";
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row">
	<div class="col-12">

		<div class="h-100 bg-white pt-0 radius-1 shadow-lg mx-auto">
			<div class="border-t-3 w-100 brc-dark radius-t-1"></div>
			<div class="card border-0 h-100" id="card-8">
				<div class="card-header  brc-dark-l2">
					<h5 class="card-title text-110 text-dark font-bold pt-1 text-uppercase">
						<i class="fa fa-table mr-2px" aria-hidden="true"></i>
						Datos Registrados de la solicitud: @Model.RequestNumber
					</h5>
				</div><!-- /.card-header -->

				<div class="card-body bg-white p-0 collapse show">
					<br />

					<div class="p-3">
						<div class="row">
							<div class="col-12">
								<div class="row">
									<div class="col-6">
										<div class="">
											<table class="table table table-striped-success table-borderless" aria-hidden="true">
												<tbody>
													<tr>
														<td><i class="fa fa-user text-success-l1" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.RequestNumber)</td>
														<td class="text-secondary-d2">@Model.RequestNumber</td>
													</tr>
													<tr>
														<td><i class="fa fa-user text-success-l1" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.DateCreateRequest)</td>
														<td class="text-secondary-d2">@Model.DateCreateRequest</td>
													</tr>
													<tr>
														<td><i class="fa fa-phone text-purple-m3" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.EmployeeName)</td>
														<td class="text-secondary-d2">@Model.EmployeeName</td>
													</tr>
													<tr>
														<td><i class="fa fa-map-marker text-orange-m3" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.Amount)</td>
														<td class="text-secondary-d2">@Model.Amount</td>
													</tr>
													<tr>
														<td><i class="far fa-clock text-secondary-m3" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.PaymentsPeriod)</td>
														<td class="text-secondary-d2">@Model.PaymentsPeriod</td>
													</tr>
													<tr>
														<td><i class="far fa-clock text-secondary-m3" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.DiscountRate)</td>
														<td class="text-secondary-d2">@Model.DiscountRate</td>
													</tr>
													<tr>
														<td><i class="far fa-clock text-secondary-m3" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.AdministrationExpenses)</td>
														<td class="text-secondary-d2">@Model.AdministrationExpenses</td>
													</tr>
													<tr>
														<td><i class="far fa-clock text-secondary-m3" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.AdministrationExpensesResult)</td>
														<td class="text-secondary-d2">@Model.AdministrationExpensesResult</td>
													</tr>
													<tr>
														<td><i class="far fa-clock text-secondary-m3" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.AdditionalMonths)</td>
														<td class="text-secondary-d2">@Model.AdditionalMonths</td>
													</tr>
													<tr>
														<td><i class="far fa-clock text-secondary-m3" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.AbonoCatorcenalMensual)</td>
														<td class="text-secondary-d2">@Model.AbonoCatorcenalMensual</td>
													</tr>
													<tr>
														<td><i class="far fa-clock text-secondary-m3" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.TotalPay)</td>
														<td class="text-secondary-d2">@Model.TotalPay</td>
													</tr>
													<tr>
														<td><i class="far fa-clock text-secondary-m3" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.AvalName)</td>
														<td class="text-secondary-d2">@Model.AvalName</td>
													</tr>
													<tr>
														<td><i class="far fa-clock text-secondary-m3" aria-hidden="true"></i></td>
														<td class="text-95 font-bolder text-default-d3">@Html.DisplayNameFor(model => model.DebitAval)</td>
														<td class="text-secondary-d2">@Model.DebitAval</td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
									<div class="col-6">

									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="bgc-light px-3 py-2 border-t-2 brc-dark-l2 d-flex ">
						<a href="@Url.Action("ListRequest","Request")" class="btn btn-dark radius-1 border-b-2 d-inline-flex align-items-center ml-3 py-2px btn-bold mr-3 text-uppercase">
							<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
								<i class="fa fa-arrow-alt-circle-left text-white-tp2 text-160 " aria-hidden="true"></i>
							</span>
							regresar
						</a>
						<a href="@Url.Action("EditRequest","Request")/@Model.TbRequestId" class="btn btn-danger  radius-1 border-b-2 d-inline-flex align-items-center pl-2px py-2px btn-bold text-uppercase">
							<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
								<i class="fa fa-user-edit text-white-tp2 text-160" aria-hidden="true"></i>
							</span>
							Editar Informacón
						</a>
					</div>

				</div><!-- /.card-body -->
			</div>
			<div class="border-b-3 w-100 brc-dark radius-b-1"></div>
		</div>

	</div>
</div>
@section PageCrumb{

	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>

		<a href="@Url.Action("ListEmployee","Employee")">Relación de Solicitudes</a>
	</small>
	<small class="page-info text-secondary-d2">
		<i class="fa fa-angle-double-right text-80" aria-hidden="true"></i>

		Detalle Solicitud
	</small>
}
@section styles{



}

@section scripts {

	<script type="text/javascript">

	</script>
}

