﻿<!DOCTYPE html>

<html lang="es-mx">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/assetsAce/node_modules/fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link href="~/assetsAce/node_modules/fortawesome/fontawesome-free/css/regular.css" rel="stylesheet" />
    <link href="~/assetsAce/node_modules/fortawesome/fontawesome-free/css/brands.css" rel="stylesheet" />
    <link href="~/assetsAce/node_modules/fortawesome/fontawesome-free/css/solid.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap">

    <link href="~/assetsAce/node_modules/dist/css/ace.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/assetsAce/image/favicon.ico" />
    <link href="~/assetsAce/css/login/page-login-style.css" rel="stylesheet" />

</head>
<body>
	<div class="body-container">
		@RenderBody()
	</div>
	<div id="Carrinho" style="display:none;">
		@*<img src="~/assetsUpdate/images/carLoader.gif" style="width:100%; height:80%;" alt="" />*@
		<div class="progress">
			<div class="progress-bar progress-bar-striped progress-bar-animated bg-alianza active" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width: 100%">
				<span>Espere um momento por favor...</span>
			</div>
		</div>
	</div>

	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/loaders/blockui.min.js"></script>
	<script src="~/assetsAce/node_modules/dist/js/ace.js"></script>
	<script src="~/assetsAce/js/page.login/page-login-script.js"></script>
	<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/loadingoverlay/loadingoverlay.min.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/notify/PNotify.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/notify/PNotifyStyleMaterial.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/notify/PNotifyButtons.js"></script>
	<script src="~/assetsAce/node_modules/js/plugins/notify/PNotifyAnimate.js"></script>
	<script type="text/javascript">

		var href = "";
		var paginaActual = window.location.href;
		$(document).ready(function () {
			loading();
			$.LoadingOverlay("show");
			var xhr = new XMLHttpRequest();
			var paginaActual = window.location.href;
			xhr.open('GET', paginaActual, true);
			xhr.addEventListener('readystatechange', function () {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var dark = $('.login-container');
					$.LoadingOverlay("hide");
				}
				if (xhr.readyState === 2 && xhr.status === 500) {
					var dark = $('.bodyContainer');
					$.LoadingOverlay("hide");
				}
			});
			xhr.send(null);
		});

		$(document).on('click', 'a', function () {
			href = $(this).attr("href");
		});

		$(window).on('beforeunload', function () {
			if (href != "") {

				client = new XMLHttpRequest();
				client.open("GET", href, true);
				client.onprogress = function (pe) {
					if (pe.lengthComputable) {
						loading();
						$.LoadingOverlay("show");
					}
				}
				client.onloadend = function (pe) {
					//var dark = $('.login-container');
					//$(dark).unblock();
					$.LoadingOverlay("hide");
				}
				client.send(null);
			}
		});

		$(document).ajaxStart(function () {
			loading();
			$.LoadingOverlay("show");
		});

		$(document).ajaxStop(function () {
			//var dark = $('.login-container');
			//$(dark).unblock();
			$.LoadingOverlay("hide");
		});
		$(document).ajaxSend(function (event, jqxhr, settings) {
			loading();
			$.LoadingOverlay("show");
		});
		$(document).ajaxComplete(function (event, jqxhr, settings) {
			$.LoadingOverlay("hide");
		});
		function loading() {
			//var dark = $('.login-container'); // $(this).parent();
			//$(dark).block({
			//	message: $('#Carrinho'), //'<i class="icon-spinner spinner"></i>',
			//	overlayCSS: {
			//		backgroundColor: '#1B2024',
			//		opacity: 0.5,
			//		cursor: 'wait'
			//	},
			//	baseZ: 1050,
			//	css: {
			//		border: 0,
			//		padding: 0,
			//		backgroundColor: 'none',
			//		color: '#fff'
			//	}
			//});
			$.LoadingOverlaySetup({
				backgroundClass: "custom_background",
				image: "/assetsAce/image/circles.svg",
				imageAnimation: "2000ms rotate_right",
				imageColor: "#fb8c00",
				text: "Por favor espere, Cargando...",
				textClass: "custom_textLoading",
			});
		}
	</script>

	@RenderSection("scripts", required: true)

	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Scripts/Forms/RudolfUtilities.js"></script>
</body>
</html>
