﻿
@model Seccion.Web.Models.GridListModel.MenuIdModel

	<div class='dropdown d-inline-block dd-backdrop dd-backdrop-none-md'>
		<a class='card-toolbar-btn text-dark' href='#' role='button' id='dropdownMenuLink4' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
			<i class='fa fa-list' aria-hidden="true"></i>
		</a>
		<div class='dropdown-menu dropdown-menu-right dropdown-caret dd-slide-center dd-slide-none-md dropdown-animated animated-2  brc-danger-tp2 border-t-3' aria-labelledby='dropdownMenuLink4'>
			<div class='dropdown-inner'>
				<a class='dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase'
				   href='@Model.EditLink/@Model.Id'>
					<i class='fas fa-user-edit text-dark text-140 w-3 mr-2px' aria-hidden="true"></i>
					Editar Datos...
				</a>

				<div class='dropdown-divider m-1'></div>

				<a class='dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase'
				   href='@Model.DetailLink/@Model.Id'>
					<i class='fas fa-search text-dark text-140 w-3 mr-2px' aria-hidden="true"></i>
					Ver Detalle...
				</a>
                
                <div class="dropdown-divider m-1"></div>
                
                <a class="dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase"
                   href='@Model.CompleteLink/@Model.Id'>
                    <i class='fas fa-search text-dark text-140 w-3 mr-2px' aria-hidden="true"></i>
                    Completar datos...
                </a>

                <div class='dropdown-divider m-1'></div>

				<a href='' class='dropdown-item btn btn-outline-danger btn-h-light-danger btn-a-light-danger my-1 text-90 font-bolder text-uppercase'>
					<i class='fas fa-trash text-dark text-140 w-3 mr-2px' aria-hidden="true"></i>
					Eliminar
				</a>
			</div>
		</div>
	</div>

