﻿<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </div>
</body>
</html>
